@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:wght@300&display=swap");

$primary: #c75d47;
$secondary: #ffe9e2;
$font-family-base: "Open Sans", sans-serif;

@import "../node_modules/bootstrap/scss/bootstrap";

.mblogo {
  margin-bottom: -10rem;
  z-index: 1;
}

.titleTypo {
  font-family: "Dancing Script", cursive;
}
.rs {
  height: 40px;
  width: 40px;
}

.ft {
  height: 150px;
}
